@tailwind base;
@tailwind components;
@tailwind utilities;

@import './monaco';
@import './mind-node';

html,
body,
#root {
	height: 100%;
}

*:focus-visible {
	@apply outline-focus;
}

body {
	@apply bg-bg text-text;
}

* {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
